* {
   box-sizing: border-box;
   margin: 0;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #313;
}
#myShips {
   margin: 20px;
   background-color: pink;
   width: 260px;
   height: 260px;
   align-content: start;
   display: flex;
   flex-wrap: wrap;
   gap: 1px;
}
#myShips span {
   width: 25px;
   height: 25px;
   display: block;
   background-color: rgb(143, 143, 228);
   text-align: center;
}
#myShips span.ship {
   background-color: red;
}
#pcShips {
   margin: 20px;
   background-color: rgb(230, 253, 17);
   width: 260px;
   height: 260px;
   align-content: start;
   display: flex;
   flex-wrap: wrap;
   gap: 1px;
}
#pcShips span {
   width: 25px;
   height: 25px;
   display: block;
   background-color: rgba(136, 91, 32, 0.637);
   text-align: center;
}
#pcShips span.ship {
   background-color: gray;
}

#pcShips span.checked,
#myShips span.checked {
   background-color: black;
   pointer-events: none;
}
#pcShips span.dest,
#myShips span.dest {
   background-color: orange;
}

.pc-box {
   display: flex;
}
.pc-box .info {
   margin: 20px;
   color: white;
}
.pc-box .status {
   margin: 20px;
}
